html, body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
    color: #060606;
    font-family: "Google Sans Display",Arial,Helvetica,sans-serif;
    overflow-x: hidden;
    ::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge, and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    max-width: 100vw;
}

body {
    font-family: "Google Sans Display",Arial,Helvetica,sans-serif;
    color: #1f1f1f;
    background-color: whitesmoke;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    max-width: 100vw;
}

body::-webkit-scrollbar {
    display: none;
}

.banner {
    background-color: rgb(238, 238, 238);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: fit-content;
    justify-content: center;
    z-index: 1011;
}

.navbar {
    width: 100%;
    padding: 20px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    
}

.logo {
    display: inline-block;
    margin-left: 1%;
}

.logo a {
    text-decoration: none;
    color: #060606;
    font-size: 28px;
    font-weight: lighter;
    transition: color 0.3s;
}

.logo:hover {
    background: linear-gradient(to right, #4548e6, #9d33db);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.nav-links {
    list-style: none;
    margin-top: 5px;
    padding: 0;
    display: flex;
    white-space: nowrap;
    margin-right: 2%;
    justify-content: flex-end;
}

.nav-links li {
    margin-left: 20px;
    white-space: nowrap;
}

.nav-links a {
    text-decoration: none;
    color: #060606;
    font-size: 1.2em;
    position: relative;
    transition: font-size 0.3s, opacity 0.3s ease;
    opacity: 1;
    margin-right: 2vw;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    width: 100%;
    background-image: linear-gradient(to right, #e68645, #9d33db);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.nav-links a:hover::after {
    opacity: 1;
}

.nav-links:hover a {
    opacity: 0.5;
}

.nav-links a:hover {
    font-size: 1.25em;
    color: #000000;
    background-color: inherit;
    opacity: 1;
}

.nav-toggle {
    display: none;
}

.hamburger {
    display: none;
    
}

.menuToggle {
    appearance: none;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

*,
*::before,
*::after {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
}

*::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
        
    }
    
    .nav-links {
        display: none;
        flex-direction: column;
        margin-top: 0px;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #eee; 
        
    }
    
    .nav-links li {
        display: block;
        text-align: center;
        margin-left: 0px;
    }
    
    #menuToggle:checked ~ .nav-links {
        display: flex;
    }

    .nav-toggle {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 5px;
        cursor: pointer;
    }

    .nav-links {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
        border-top: 2px solid #ddd;
    }

    .nav-links li {
        padding: 15px;
        border-bottom: 1px solid #ddd;
    }

    .nav-links a:hover {
        background-color: #f8f8f8;
    }
}




/*start of punchline*/
.punchline {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    height: 100vh;
    color: #060606;
    text-align: center;
    background-image: url('media/photos/aboutme.jpg');
    background-size: cover; /* This ensures the image covers the entire area */
    background-position: center; /* This centers the image in the container */
    background-repeat: no-repeat; 
}


.punchline-content {
    font-size: 4vw; 
    max-width: 70%;
    padding: 2vw; 
}

.punchline-content h1 {
    font-size: 2.5vw;
    font-weight: lighter;
    color: white;
}

.punchline-content h3 {
    color: white;
    font-weight: lighter;
}



@keyframes shine {
    0% { background-position: 100% 0; }
    50% { background-position: 0% 0; }
    100% { background-position: 100% 0; }
}

/* This will apply styles for screens that are 768px wide or less */
@media screen and (max-width: 450px) {

    .punchline {
        width: 100vw;
        
    }
    .punchline-content h1 {
        font-size: 1em; /* Increase the font size for h1 */
    }

    .punchline-content h3 {
        font-size: 2.5em; /* Increase the font size for p */
    }

   
}



/* Existing CSS for larger screens */
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.profile-section {
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.description-section {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.description-section h1 {
    margin-top: 0;
    margin-bottom: 1em;
}

.description-section p {
    margin-top: 0;
    width: 80%;
    font-size: 1.1em;
    margin-bottom: 15px;
}



.photography-journey {
    display: flex;
    width: 100vw;
    background-color: #333; /* Dark grey background */
    color: #fff; /* White text */
    box-sizing: border-box;
    height: 100vh;
}

.journey-description {
    width: 50vw; /* Half of the viewport width */
    height: 100vh; /* Full height of the viewport */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Align children to the top */
    padding: 20px; /* Add padding around the content */
    box-sizing: border-box; /* Include padding in the width and height */
    
}

.journey-description p{
    font-size: 1.1em;
}

.journey-description h2{
    font-size: 2.5em;
}

.journey-description p,
.journey-description h2 {
   color: rgb(211, 204, 204);
   margin-bottom: 15px;
   width: 80%;
}

.journey-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.framed-photo {
    max-width: 90%; /* Adjust the width as needed */
    max-height: 80vh; /* Adjust the height as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 10px solid #f1f1f1; /* White frame around the image */
    object-fit: cover;
}



.data-science-journey {
    display: flex;
    width: 100vw;
    background-color: #fff; /* Light background */
    color: #333; /* Dark text */
    box-sizing: border-box;
    height: 100vh;
}

.data-science-journey .journey-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px; /* Adjust padding as needed */
}

.data-science-journey .framed-photo {
    max-width: 90%; /* Adjust the width as needed */
    max-height: 80vh; /* Adjust the height as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 10px solid #333; /* Dark frame around the image */
    object-fit: cover;
}

.data-science-journey .journey-description p,
.data-science-journey .journey-description h2 {
    color: #1f1f1f;
    
}

/* Responsive CSS for smaller screens */
@media screen and (max-height: 488px) {
    .description-section, .container, .photography-journey, .data-science-journey {
        flex-direction: column; /* Stack sections vertically */
        height: fit-content;
        
        
    }

   

    .profile-section, .description-section, .journey-description {
        width: 100vw; /* Each section takes full viewport width */
        height: fit-content; /* Adjust height based on content */
    }

   .journey-description h2{
        order: 1; /* Ensure description section comes after the profile section */
        text-align: left;
        width: 80%;
    }

   
    .profile-photo, .journey-image {
        width: 80%; /* Adjust width to prevent stretching */
        height: auto; /* Adjust height automatically */
        margin: 5vh auto; /* Center the image with margin */
        
    }

    .journey-image{
        order: 2;
        padding-top: 0px;
    }

    .description-section p, .journey-description p {
        width: 80%; /* Increase width for better readability */
        margin-bottom: 15px; /* Ensure consistent spacing */
        order: 3;
        height: fit-content;
    }

    .journey-description {
        width: 100vw; /* Full viewport width */
        padding: 20px; /* Add padding for spacing */
    }
}

@media screen and (max-width: 768px) {
    .description-section, .container, .photography-journey, .data-science-journey {
        flex-direction: column; /* Stack sections vertically */
        height: fit-content;
        
    }

    .profile-section, .description-section, .journey-description {
        width: 100vw; /* Each section takes full viewport width */
        height: fit-content; /* Adjust height based on content */
    }

    .journey-description h2{
        order: 1; /* Ensure description section comes after the profile section */
        text-align: left;
        width: 90%;
    }

   
    .profile-photo, .journey-image {
        width: 80%; /* Adjust width to prevent stretching */
        height: auto; /* Adjust height automatically */
        margin: 5vh auto; /* Center the image with margin */
        
    }

    .journey-image{
        order: 2;
        padding-top: 0px;
    }

    .description-section p, .journey-description p {
        width: 90%; /* Increase width for better readability */
        margin-bottom: 15px; /* Ensure consistent spacing */
        order: 3;
        height: fit-content;
    }

    .journey-description {
        width: 100vw; /* Full viewport width */
        padding: 20px; /* Add padding for spacing */
    }
}


  /* Responsive CSS for smaller screens */





.lets-talk-section {
    padding: 50px 0;
    text-align: center;
    padding-bottom: 14vh;
}

.lets-talk-content h2 {
    font-size: 3.5em;
    background-image: linear-gradient(to right, #2769e5 43%, #9d33db 63%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 1em;
}

.lets-talk-content p {
    color: #f9f9f9; /* Lighter text for description */
    margin-bottom: 30px;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 4px solid #cfcfcf; /* Light grey border */
    border-radius: 4px;
}

.contact-form textarea {
    height: 150px;
    resize: vertical; /* Allows resizing the textarea vertically */
}

.submit-button {
    background-color: #000000; /* Bootstrap primary color */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #ffffff;
    color: #000000 /* Darker blue on hover */
}



@media screen and (max-width: 768px) {
    .lets-talk-section {
        padding: 30px 0; /* Reduced padding */
        
    }

    .lets-talk-content h2 {
        font-size: 2.5em; /* Smaller font size for the heading */
    }

    .lets-talk-content p {
        font-size: 1em; /* Smaller font size for the paragraph */
        padding: 0 5%; /* Add padding on the sides for better text readability */
        color: #060606;
    }

    .contact-form {
        padding: 0 5%; /* Add padding on the sides */
    }

    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
        padding: 10px; /* Reduced padding */
        border: 2px solid #cfcfcf; /* Thinner border */
        margin-bottom: 15px; /* Reduced spacing between form elements */
    }

    .contact-form textarea {
        height: 120px; /* Adjust height for smaller screens */
    }

    .submit-button {
        padding: 10px 15px; /* Adjust button padding */
    }

    .error-message {
        margin-top: 10%; /* Adjust the top margin */
        font-size: 1em; /* Smaller font size */
    }
}

@media screen and (max-width: 480px) {
    .lets-talk-content h2,
    .lets-talk-content p {
        padding: 0 10%; /* Increase padding on the sides for very small screens */
    }

    .submit-button {
        width: 92vw; /* Make the button full width for better touch accessibility */
        padding: 10px; /* Consistent padding */
    }
    .lets-talk-section {
        width: 95vw;
    }

}

.social-links-small {
    position: fixed;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    
}

.social-links-small a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    height: 35px;
    position: relative;
    text-decoration: none;
    text-align: center;
}

.social-links-small img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.social-links-small a span {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 35px; /* Start from the right of the icon */
    bottom: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out;
    color: black;
    font-size: 16px;
    
    z-index: 1; /* Ensure text is below the logo when not hovered */
    white-space: nowrap;
}

.social-links-small a:hover span {
    opacity: 1;
    
    
}

.social-links-small a:hover {
    position: relative; /* Keep the link in the same position */
    z-index: 1010; /* Make sure it's above other elements when expanded */
    width: 125px; /* Expanded width */
    transition: width 0.5s ease-in-out, z-index 0.5s; /* z-index transition is immediate */
}

.social-links-small a:hover img {
    transform: translateX(-5px); /* Adjust this value as needed */
}

.social-links-small a:not(:hover) {
    background-color: transparent; /* Transparent background */
    border-radius: 0; /* No border-radius */
}

@media screen and (max-width: 768px) {
    .social-links-small {
        display: block;
    }

    
}


@media screen and (min-width: 768px) {
    .social-links {
        display: none !important;
    }
}

  
.social-links {
    display: block;
    text-align: center;
    padding: 20px;
    justify-content: center;
    height: 5vh;
    padding-bottom: 70px;
    
    } 
    
    .social-links a {
        display: inline-block;
        margin: 0 10px;
        border-radius: 50%;
        background-color: rgba(171, 171, 171, 0.356); /* Semi-transparent black background */
        color: #000000; /* White icons */
        width: 40px;
        height: 40px;
        line-height: 40px; /* Vertically center the icon */
        align-items: center;
        text-align: center;
        font-size: 20px; /* Size of the icon */
        transition: background-color 0.3s, color 0.3s;
      
      }
      
      
      .social-links i {
        vertical-align: middle;
        justify-content: center;
      }
      
      /* Base styles for buttons */
      .social-links a {
          position: relative; /* Needed for absolute positioning of the pseudo-element */
          overflow: hidden; /* Ensures the pseudo-element doesn't overflow the button */
          /* Other common styles for buttons (e.g., padding, border, font) */
      }
      
      .social-links a:hover,
      .social-links a:focus {
          background-color: #000000; /* Lighter color for hover/focus */
          text-decoration: none; /* No underline on hover/focus */
          color: #ffffff /* Darker blue on hover */
      }
      
      
      .social-links a::before {
          content: '';
          position: absolute;
          top: 0;
          left: -100%; /* Start from the left outside of the button */
          width: 100%;
          height: 100%;
          background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0) 100%);
          transition: all 0.3s ease; /* Smooth transition for the gradient */
          z-index: 0; /* Place it below the text */
      }
      
      .social-links a:hover::before {
          left: 100%; /* Move the gradient to the right */
      }
      
      .social-links a span {
          position: relative; /* To ensure the text is above the gradient */
          z-index: 1;
          display: inline-block;
          transition: transform 0.3s ease; /* Smooth transition for scaling */
      }
      
      .social-links a:hover span {
          transform: scale(1.1); /* Scale the text */
      }  